REACT_APP_SERVER_URL="http://localhost:3030"
REACT_APP_FRONTEND="http://localhost:3000"
REACT_APP_PROJECT_NAME="stable1"
REACT_APP_PROJECT_LABEL="Stable1"
REACT_APP_PROJECT_ID="69a7e2bb15082d73d3cc364c"
REACT_APP_LAST_UPDATED="3/4/2026"
REACT_APP_SECRETKEY="9e9e7b0baa83b88aea434afdbff8b061f0640f1c2dbf931d3edee0e91cddf476"
REACT_APP_EMAIL_DOMAIN="example.com"
REACT_APP_USE_USER_INVITE_SIGNUP=true
REACT_APP_ENV=dev
REACT_APP_DATE="dd/MM/yyyy"
REACT_APP_TIME="hh:mm:ss"
REACT_APP_LANGUAGE="en_MY"
REACT_APP_CURRENCY="MYR"
REACT_APP_COUNTRY="MY"
